{{#layout}}

<ol class="breadcrumb">
  <li><a href="/tournaments/{{ tournamentId }}/rounds">{{ tournamentName }}</a></li>
  <li>{{ name }}</li>
</ol>

<div class="page-header">
  <h1>{{ name }}</h1>
  <p class="lead">{{ tournamentName }}</p>
</div>

<div class="row">
  {{#pools}}
  <div class="col-lg-4 col-xs-12">
    <div class="card theme-pending">
      <!--<div class="card__face__colored-side"></div>-->
      <div class="card-header">
        <h3>{{ field }}</h3>
        <span class="subtitle">En cours</span>
      </div>
      <div class="card-content">

          {{#teams}}
            <div>
              <span>{{ letter }}</span> {{ name }}
            </div>

          {{/teams}}
      </div>
    </div>
  </div>
  {{/pools}}
</div>

{{/layout}}
{{>layout}}