{{#admin_layout}}

<div class="page-header">
    <h1>Administration</h1>
</div>

<div class="row">
    <div class="col-xs-6">
        <div class="tile-stats">
            <div class="icon"><i class="fa fa-female"></i></div>
            <div class="count">{{ womenTeamsCount}}</div>
            <h3>Inscriptions</h3>
            <p>Tournoi féminin</p>
        </div>
    </div>
    <div class="col-xs-6">
        <div class="tile-stats">
            <div class="icon"><i class="fa fa-male"></i></div>
            <div class="count">{{ menTeamsCount}}</div>
            <h3>Inscriptions</h3>
            <p>Tournoi masculin</p>
        </div>
    </div>
</div>

{{/admin_layout}}
{{>admin_layout}}