<!DOCTYPE html>

<html>
<head>
    <title>Tournoi de Vincennes</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" type="image/png" href="/images/favicon.png" sizes="32x32"/>

    <link rel='stylesheet' href='/webjars/bootstrap/3.3.7/css/bootstrap.min.css'>
    <link rel="stylesheet" media="screen" href="/webjars/font-awesome/4.7.0/css/font-awesome.css"/>
    <link rel="stylesheet" media="screen" href="/assets/landing.css"/>

    <script src="/webjars/jquery/3.2.0/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-97876228-1', 'auto');
        ga('send', 'pageview');
    </script>

</head>
<body>

<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand page-scroll" href="/">
                <i class="fa icon-vvc"></i> <span class="light">VVC Tournament</span> édition 2017
            </a>
        </div>
    </div>
</nav>

<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <h1 class="brand-heading">Tournoi 3x3</h1>
                <p class="intro-text">Après une <i>trop longue</i> pause, il est de retour avec de nouvelles ambitions
                    <br/>Un tout <strong>nouveau staff</strong> pour vous préparer une belle journée
                    <br/>Aidez nous à faire de ce tournoi une référence, parlez en autour de vous
                    <br/>Restez informés</p>
                <a href="https://www.facebook.com/vincennes.volleyclub" class="btn btn-default btn-lg"><i class="fa fa-facebook"></i> Page</a>
                <a href="https://www.facebook.com/events/1357708144309034" class="btn btn-default btn-lg"><i class="fa fa-facebook"></i> Évènement</a>
                <a href="https://twitter.com/VvcTournament" class="btn btn-default btn-lg"><i class="fa fa-twitter"></i> Twitter</a>
                <a href="https://www.instagram.com/vvctournament2017/" class="btn btn-default btn-lg"><i class="fa fa-instagram"></i> Instagram</a>
            </div>
        </div>
    </div>
</header>

<section id="about" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>About Grayscale</h2>
            <p>Grayscale is a free Bootstrap 3 theme created by Start Bootstrap. It can be yours right now, simply download the template on <a href="http://startbootstrap.com/template-overviews/grayscale/">the preview page</a>. The theme is open source, and you can use it for any purpose, personal or commercial.</p>
            <p>This theme features stock photos by <a href="http://gratisography.com/">Gratisography</a> along with a custom Google Maps skin courtesy of <a href="http://snazzymaps.com/">Snazzy Maps</a>.</p>
            <p>Grayscale includes full HTML, CSS, and custom JavaScript files along with LESS files for easy customization.</p>
        </div>
    </div>
</section>

<footer>
    <div class="container text-center">
        <p>Made with <i class="fa fa-heart" aria-hidden="true"></i> by Vincennes Volley Club
            </br>Copyright &copy; Florian MARIN 2017</p>
    </div>
</footer>

</body>
</html>


