<!DOCTYPE html>

<html>
<head>
    <title>Tournoi de Vincennes</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" type="image/png" href="/assets/favicon.png" sizes="32x32"/>

    <link rel='stylesheet' href='/webjars/bootstrap/3.3.7/css/bootstrap.min.css'>
    <link rel="stylesheet" media="screen" href="/webjars/font-awesome/4.7.0/css/font-awesome.css"/>
    <link rel="stylesheet" media="screen" href="/assets/navbar.css"/>
    <link rel="stylesheet" media="screen" href="/assets/landing.css"/>

    <script src="/webjars/jquery/3.2.0/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/assets/landing.js"></script>

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-97876228-1', 'auto');
        ga('send', 'pageview');
    </script>

</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand page-scroll" href="/#page-top">
                <i class="fa icon-vvc"></i> <span class="light">VVC Tournament</span> édition 2017
            </a>
        </div>

        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="#subscriptions">Inscriptions</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">Nous contacter</a>
                </li>
                <li>
                    <a href="https://www.facebook.com/events/1357708144309034"><i class="fa fa-facebook"></i></a>
                </li>
                <li>
                    <a href="https://www.facebook.com/events/1357708144309034"><i class="fa fa-facebook"></i></a>
                </li>
                <li>
                    <a href="https://twitter.com/VvcTournament"><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                    <a href="/subscriptions/new" class="btn btn-default"> Je  m'inscris</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <h1 class="brand-heading">Dimanche 11 Juin</h1>
                <p class="intro-text">Après une <i>trop longue</i> pause, il est de retour avec de <strong>nouvelles
                    ambitions</strong>
                    <br/>Un tout <strong>nouveau staff</strong> pour vous préparer une belle journée
                    <br/>Aidez nous à faire de ce tournoi une référence, <strong>parlez en autour de vous</strong>
                    <br/>Restez informés</p>
                <a href="https://www.facebook.com/vincennes.volleyclub" class="btn btn-default btn-lg"><i
                        class="fa fa-facebook"></i> Page</a>
                <a href="https://www.facebook.com/events/1357708144309034" class="btn btn-default btn-lg"><i
                        class="fa fa-facebook"></i> Évènement</a>
                <a href="https://twitter.com/VvcTournament" class="btn btn-default btn-lg"><i class="fa fa-twitter"></i>
                    Twitter</a>
                <a href="https://www.instagram.com/vvctournament2017/" class="btn btn-default btn-lg"><i
                        class="fa fa-instagram"></i> Instagram</a>
            </div>
        </div>
    </div>
</header>

<section id="subscriptions" class="container content-section text-center subscriptions-section">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Inscriptions</h2>
            <p>Le tournoi accueillera <strong>33 équipes féminines et 48 équipes masculines</strong>.</p>
            <p>Les inscriptions et le paiement se font en ligne uniquement au tarif de 33€ par équipe.</p>
            <p>Aucune inscription ne sera acceptée le jour du tournoi</p>
            <a href="/subscriptions/new" class="btn btn-default btn-lg" {{^subscriptionsEnable}}disabled{{/subscriptionsEnable}}><i class="fa fa-sign-in"></i> Je
                m'inscris</a>
            {{^subscriptionsEnable}}
            <p><i>Le système d'inscriptions est momentanément désactivé, le temps pour nous de vérifier son bon fonctionnement</i></p>
            {{/subscriptionsEnable}}
        </div>
    </div>
</section>

<section id="contact" class="container content-section text-center contact-section">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Nous contacter</h2>
            <p>Nous sommes disponibles pour répondre à toutes vos questions, remarques et suggestions ou juste pour dire bonjour</p>
            <p><a href="mailto:vvctournoi@gmail.com" class="btn btn-primary btn-lg"><i class="fa fa-envelope-o"></i> Staff VVC Tournament - 2017</a></p>
        </div>
    </div>
</section>

<footer>
    <div class="container text-center">
        <p>Made with <i class="fa fa-heart" aria-hidden="true"></i> by Vincennes Volley Club
            </br>Copyright &copy; Florian MARIN 2017</p>
    </div>
</footer>

</body>
</html>


