{{#admin_layout}}

<script src="https://cdn.auth0.com/js/lock/10.15/lock.min.js"></script>

<div class="container">
    <script type="text/javascript">
        $(function () {
            var lock = new Auth0Lock('ksThWSfIBi_JPaktTWYukbL8Qv1QgtX3', 'tournoi-vincennes.eu.auth0.com', {
                auth: {
                    redirectUrl: 'http://localhost:8080/login/callback',
                    responseType: 'code',
                    params: {
                        state: '{{state}}',
                        scope: 'openid user_id name nickname email picture'
                    }
                },
                allowSignUp: false
            });
            // delay to allow welcome message..
            lock.show();
        });
    </script>
</div>

{{/admin_layout}}
{{>admin_layout}}