{{#admin_layout}}

<ol class="breadcrumb">
    <li><a href="/admin">Accueil</a></li>
    <li><a href="/admin/tournaments/{{round.tournamentId}}/checkin">{{round.tournamentName}}</a></li>
    <li><a href="/admin/tournaments/{{round.tournamentId}}/rounds">Tours</a></li>
    <li class="active">{{ round.name }}</li>
</ol>


{{#round}}
<div class="page-header">
    <h1>{{ name }}</h1>
    {{^isValidated}}
    <a href="/admin/rounds/{{id}}/matches" class="btn btn-success pull-right">Valider les poules</a>
    <button class="btn btn-primary pull-right switch-team-js">Échanger les équipes</button>
    {{/isValidated}}
    {{#isValidated}}
    <a href="/admin/rounds/{{id}}/rankings" class="btn btn-lg btn-default pull-right"><i class="fa fa-table" aria-hidden="true"></i> Classement</a>
    {{/isValidated}}
    <p class="lead">{{ tournamentName }}</p>
</div>
{{/round}}

<div class="row switch-class-js" data-round-id="{{ round.id }}">
    {{#pools}}
    <div class="col-lg-6">
        <div class="panel panel-{{color}}">
            <div class="panel-heading">
                <h3 class="panel-title"><a href="/admin/pools/{{id}}" class="btn-block">{{ name }} - Terrain {{ field }}</a></h3>
            </div>
            <div class="panel-body">
                <table class="table table-striped table-readable">
                    <tbody>
                    <tr>
                        {{^round.isValidated}}
                        <td><input type="checkbox" class="switch-team-js" data-team-id="{{ teamId1 }}" data-pool-id="{{ id }}" ></td>
                        {{/round.isValidated}}
                        <th scope="row">A</th>
                        <td>{{ teamName1 }}</td>
                        <td align="center"><span class="label {{ teamLevelColor1 }}">{{ teamLevel1 }}</span></td>
                        {{#teamPreviousRank1}}<td align="center"><span class="badge ">{{ teamPreviousRank1 }}</span></td>{{/teamPreviousRank1}}
                    </tr>
                    <tr>
                        {{^round.isValidated}}
                        <td><input type="checkbox" class="switch-team-js" data-team-id="{{ teamId2 }}" data-pool-id="{{ id }}" ></td>
                        {{/round.isValidated}}
                        <th scope="row">B</th>
                        <td>{{ teamName2 }}</td>
                        <td align="center"><span class="label {{ teamLevelColor2 }}">{{ teamLevel2 }}</span></td>
                        {{#teamPreviousRank2}}<td align="center"><span class="badge ">{{ teamPreviousRank2 }}</span></td>{{/teamPreviousRank2}}
                    </tr>
                    <tr>
                        {{^round.isValidated}}
                        <td><input type="checkbox" class="switch-team-js" data-team-id="{{ teamId3 }}" data-pool-id="{{ id }}" ></td>
                        {{/round.isValidated}}
                        <th scope="row">C</th>
                        <td>{{ teamName3 }}</td>
                        <td align="center"><span class="label {{ teamLevelColor3 }}">{{ teamLevel3 }}</span></td>
                        {{#teamPreviousRank3}}<td align="center"><span class="badge ">{{ teamPreviousRank3 }}</span></td>{{/teamPreviousRank3}}
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {{/pools}}
</div>

<script src="/assets/round_detail.js"></script>

{{/admin_layout}}
{{>admin_layout}}