{{#admin_layout}}

<ol class="breadcrumb">
  <li><a href="/admin">Dashboard</a></li>
  <li><a href="/admin/tournaments/{{tournament.id}}/checkin">{{tournament.fullName}}</a></li>
  <li class="active">Tours</li>
</ol>

<div class="page-header">
  <h1>Tours</h1>
  <p class="lead">{{ tournament.fullName }}
    <a class="btn btn-primary pull-right" href="/admin/tournaments/{{ tournament.id }}/rounds/new">Nouveau tour</a>
  </p>
</div>

{{#rounds}}
<div class="row">
  {{#value}}
  <div class="col-lg-4 col-md-4 col-xs-4">
    <div class="round-card" data-id="{{ id }}">
      <div class="round-card-sidebar">
        <span>{{ branch }}</span>
      </div>
      <div class="round-card-content">
        <div class="round-card-header">
          <div class="title">{{ name }}</div>
          <div class="status">{{ status }}</div>
        </div>
        <div class="stats-row">
          <div class="stat">
            <span class="stat-header">{{ typeLabel }}</span>
            <span class="stat-content">{{ typeValue }}</span>
          </div>
          <div class="stat">
            <span class="stat-header">Équipes</span>
            <span class="stat-content">{{ teams }}</span>
          </div>
          <div class="stat">
            <span class="stat-header">Terrains</span>
            <span class="stat-content">{{ fields }}</span>
          </div>
        </div>
        <div class="stats-row">
          <div class="stat">
            <span class="stat-header">En cours</span>
            <span class="stat-content">{{ typeLast }}</span>
          </div>
          <div class="stat">
            <span class="stat-header">Occupés</span>
            <span class="stat-content">{{ fieldsLast }}</span>
          </div>
        </div>

      </div>

    </div>
  </div>
  {{/value}}
</div>
{{/rounds}}

<script src="/assets/round_index.js"></script>

{{/admin_layout}}
{{>admin_layout}}