{{#admin_layout}}

<ol class="breadcrumb">
  <li><a href="/admin">Dashboard</a></li>
  <li><a href="/admin/tournaments/{{tournament.id}}/checkin">{{tournament.fullName}}</a></li>
  <li class="active">Tours</li>
</ol>

<div class="page-header">
  <h1>Tours</h1>
  <p class="lead">{{ tournament.fullName }}
    <a class="btn btn-primary pull-right" href="/admin/tournaments/{{ tournament.id }}/rounds/new">Nouveau tour</a>
  </p>
</div>

{{#rounds}}
<div class="row">
  {{#value}}
  <div class="col-lg-4 col-md-4 col-xs-4">
    <div class="round-card">
      <div class="round-card-sidebar">
        <span>PRINCIPAL</span>
      </div>
      <div class="round-card-content">
        <div class="round-card-header">
          <div class="title">{{name}}</div>
          <div class="status">Status</div>
        </div>
        <div class="stats">
          <div class="stat">
            <span class="stat-header">Poules</span>
            <span class="stat-content">16*3</span>
          </div>
          <div class="stat">
            <span class="stat-header">Poules</span>
            <span class="stat-content">16*3</span>
          </div>
          <div class="stat">
            <span class="stat-header">Poules</span>
            <span class="stat-content">16*3</span>
          </div>
          <div class="stat">
            <span class="stat-header">Poules</span>
            <span class="stat-content">16*3</span>
          </div>
          <div class="stat">
            <span class="stat-header">Poules</span>
            <span class="stat-content">16*3</span>
          </div>
          <div class="stat">
            <span class="stat-header">Poules</span>
            <span class="stat-content">16*3</span>
          </div>
        </div>

      </div>

    </div>
  </div>
  {{/value}}
</div>
{{/rounds}}

<script src="/assets/round_index.js"></script>

{{/admin_layout}}
{{>admin_layout}}