{{#admin_layout}}

<div class="page-header">
    <h1>Tour <strong>{{ round.name }}</strong></h1>
    <p class="lead">Tournoi {{ round.tournamentName }}</p>
</div>

<div class="row">
    {{#pools}}
    <div class="col-lg-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{{ name }}</h3>
            </div>
            <div class="panel-body">
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <th scope="row">A</th>
                            <td>{{ teamName1 }}</td>
                            <td align="center"><span class="label {{ teamLevelColor1 }}">{{ teamLevel1 }}</span></td>
                        </tr>
                        <tr>
                            <th scope="row">B</th>
                            <td>{{ teamName2 }}</td>
                            <td align="center"><span class="label {{ teamLevelColor2 }}">{{ teamLevel2 }}</span></td>
                        </tr>
                        <tr>
                            <th scope="row">C</th>
                            <td>{{ teamName3 }}</td>
                            <td align="center"><span class="label {{ teamLevelColor3 }}">{{ teamLevel3 }}</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {{/pools}}
</div>

{{/admin_layout}}
{{>admin_layout}}