@page { margin: 0 }
body { margin: 0 }
.sheet {
    margin: 0;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    page-break-after: always;
}

/** Paper sizes **/
body.A4.landscape     .sheet { width: 297mm; height: 209mm }

/** Padding area **/
.sheet.padding-10mm { padding: 10mm }

/** For screen preview **/
@media screen {
    .sheet {
        background: white;
        box-shadow: 0 .5mm 2mm rgba(0,0,0,.3);
        margin: 5mm auto;
    }
}

/** Fix for Chrome issue #273306 **/
@media print {
    body.A4.landscape { width: 297mm }
}

body {
    font-size :15pt;
    text-align: center;
}

.pool-field {
    font-weight: 200;
}

.lead {
    font-style: italic;
}

.table {
    width: 95%;
    font-size :15pt;
}

.table th {
    text-align: center;
}

.table td {
    height: 100pt;
}

.team-list {
    text-align: left;
}

.table {
    border: 2px solid #000000;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
    border: 2px solid #000000;
}